/*/target/
/target/
/*/*/target/
/*/dependency-reduced-pom.xml
/*/*/dependency-reduced-pom.xml
/*/.gradle/
/*/build/
/testing/*/.gradle/
/testing/*/build/
/testing/moetest/xcode/ios.xcodeproj/project.xcworkspace/

